<div class="es-footer-container">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="es-footer-sections">
          <div class="es-footer-title">
            <p>Policy</p>
          </div>
          <div class="es-footer-content">
            <ul class="es-footer-list">
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms and Condition</a></li>
              <li><a href="#">Report Frauds or Misuse of Account</a></li>
            </ul>
          </div>

        </div>
      </div>
      <div class="col-md-3">
        <div class="es-footer-sections">
          <div class="es-footer-title">
            <p>General section</p>
          </div>
          <div class="es-footer-content">
            <ul class="es-footer-list">
              <li><a href="#">Getting Started</a></li>
              <li><a href="#">Security</a></li>
              <li><a href="#">SMS Syntax</a></li>
              <li><a href="#">Rewards Points</a></li>
              <li><a href="#">Video Tutorials</a></li>
            </ul>
          </div>

        </div>
      </div>
      <div class="col-md-2">
        <div class="es-footer-sections">
          <div class="es-footer-title">
            <p>Company</p>
          </div>
          <div class="es-footer-content">
            <ul class="es-footer-list">
              <li><a href="#">About us</a></li>
              <li><a href="#">Career</a></li>
              <li><a href="#">News</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="es-footer-sections">
          <div class="es-footer-title">
            <p>Partners</p>
          </div>
          <div class="es-footer-content">
            <ul class="es-footer-list">
              <li><a href="#">Banks</a></li>
              <li><a href="#">Remittance</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="es-footer-sections">
          <div class="es-footer-title">
            <p>Help</p>
          </div>
          <div class="es-footer-content">
            <ul class="es-footer-list">
              <li><a href="#">Developer's Guide</a></li>
              <li><a href="#">FAQ's</a></li>
              <li><a href="#">Contact us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row float-right">
        <div class="es-footer-social-icon-container">
          <ul class="es-footer-icon-list">
            <li><a href="#"><i class="fa fa-google-plus-official" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
          </ul>
        </div>
    </div>
  </div>
</div>
