.es-mu-service-container {
  align-items: center;
  box-shadow:0px 10px 20px 0px #88888817;
  -webkit-box-shadow: 0px 10px 20px 0px #88888817;
  -moz-box-shadow: 0px 10px 20px 0px #88888817;
  background: #ffffff;
  display: flex;
  height: 200px;
  width: 100%;
  padding: 35px;
  margin-top: -100px;
  border-radius: 8px;
  margin-bottom: 15px;

  .es-mu-service-lbl {
    font-size: 13px;
  }

  .es-mu-btn-container {
    margin-top: 30px;
    margin-left: 30px;
  }

  .es-mu-title {
    font-weight: 700;

    .es-help-circle {
      color: #22a500;
    }
  }


}

