.main-nav {
  margin: 0;
  margin-top: 15px;
  padding: 0;
  list-style: none;
  display: flex;

  a {
    padding: 10px 15px;
    text-align: center;
    display: block;
    color: #ffffff;
    width:94px;
    font-size: 12px;
    text-decoration: none;
  }
}

.es-nav-item {
  display: block;
}
