<div class="container">
  <div class="row">
    <div class="navbar-collapse">
      <ul class="main-nav">
        <li>
          <a href="#">
            <div class="es-nav-item">
              <div class="es-nav-icon">
                <i class="fa fa-mobile fa-2x" aria-hidden="true"></i>
              </div>
              <div class="es-nav-text">
                <span>Topup</span>
              </div>
            </div>

          </a>
        </li>
        <li>
          <a href="#">
            <div class="es-nav-item">
              <div class="es-nav-icon">
                <i class="fa fa-mobile fa-2x" aria-hidden="true"></i>
              </div>
              <div class="es-nav-text">
                <span>Electricity</span>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="es-nav-item">
              <div class="es-nav-icon">
                <i class="fa fa-mobile fa-2x" aria-hidden="true"></i>
              </div>
              <div class="es-nav-text">
                <span>Khanepani</span>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="es-nav-item">
              <div class="es-nav-icon">
                <i class="fa fa-mobile fa-2x" aria-hidden="true"></i>
              </div>
              <div class="es-nav-text">
                <span>Airlines</span>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="es-nav-item">
              <div class="es-nav-icon">
                <i class="fa fa-mobile fa-2x" aria-hidden="true"></i>
              </div>
              <div class="es-nav-text">
                <span>Bus Tickets</span>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="es-nav-item">
              <div class="es-nav-icon">
                <i class="fa fa-mobile fa-2x" aria-hidden="true"></i>
              </div>
              <div class="es-nav-text">
                <span>TV</span>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="es-nav-item">
              <div class="es-nav-icon">
                <i class="fa fa-mobile fa-2x" aria-hidden="true"></i>
              </div>
              <div class="es-nav-text">
                <span>Internet</span>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="es-nav-item">
              <div class="es-nav-icon">
                <i class="fa fa-mobile fa-2x" aria-hidden="true"></i>
              </div>
              <div class="es-nav-text">
                <span>Credit Card</span>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="es-nav-item">
              <div class="es-nav-icon">
                <i class="fa fa-mobile fa-2x" aria-hidden="true"></i>
              </div>
              <div class="es-nav-text">
                <span>Insurance</span>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="es-nav-item">
              <div class="es-nav-icon">
                <i class="fa fa-mobile fa-2x" aria-hidden="true"></i>
              </div>
              <div class="es-nav-text">
                <span>School Fee</span>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="es-nav-item">
              <div class="es-nav-icon">
                <i class="fa fa-mobile fa-2x" aria-hidden="true"></i>
              </div>
              <div class="es-nav-text">
                <span>Finance</span>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="es-nav-item">
              <div class="es-nav-icon">
                <i class="fa fa-mobile fa-2x" aria-hidden="true"></i>
              </div>
              <div class="es-nav-text">
                <span>More</span>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

