<div class="es-slider-container" xmlns="">
  <div class="slider-content">
    <div id="es-banner" class="carousel slide es-carousel" data-ride="carousel">

      <!-- Indicators -->
      <!--<ul class="carousel-indicators">-->
        <!--<li data-target="#es-banner" data-slide-to="0" class="active"></li>-->
        <!--<li data-target="#es-banner" data-slide-to="1"></li>-->
        <!--<li data-target="#es-banner" data-slide-to="2"></li>-->
      <!--</ul>-->

      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://cdn.esewa.com.np/ui/images/slider/jFA2tct70vNMokFqnQoGslider-03.jpg" alt="Khanepani">
        </div>
        <div class="carousel-item">
          <img src="https://cdn.esewa.com.np/ui/images/slider/XD3yxjSnWbRDZ3Wr2xXlCooler-Esewa-Banner.jpg" alt="eSewa Pasal">
        </div>
        <div class="carousel-item">
          <img src="https://cdn.esewa.com.np/ui/images/slider/F0mPpjR1EgfV0ArhZRxvreferal esewa banner.jpg" alt="Refer & Earn">
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#es-banner" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#es-banner" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>


  </div>
</div>

