<!--The content below is only a placeholder and can be replaced.-->
<div class="es-header-container">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <app-header></app-header>
    </div>
  </div>
  </div>
</div>

<div class="es-nav-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <app-navbar></app-navbar>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-most-used-service></app-most-used-service>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-3">
      <app-offers></app-offers>
    </div>
    <div class="col-md-9">
      <app-main-slider></app-main-slider>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-popular-service></app-popular-service>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-showcase></app-showcase>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-patners-bank></app-patners-bank>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <app-footer></app-footer>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
