.es-offer-container{
  align-items: center;
  box-shadow:0px 10px 20px 0px #88888817;
  -webkit-box-shadow: 0px 10px 20px 0px #88888817;
  -moz-box-shadow: 0px 10px 20px 0px #88888817;
  background: #ffffff;
  display: flex;
  height: 300px;
  border-radius: 8px;
  margin-top: 15px;
}
